@model Database.DATA.BookScheme.Book

@{
    ViewData["Title"] = "Delete";
}

<h3>Usuwasz książke:</h3>
<div>
    <h4>@{ @Html.DisplayFor(model => model.Title)}</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description) 
        </dd>
        <dt class = "col-sm-2">
           Ile razy przeczytane?
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReadCount)
        </dd>
        <dt class = "col-sm-2">
            Autor
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author.Name)
        </dd>
        <dt class = "col-sm-2">
           Typ książki
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookType.BookTypeName)
        </dd>
        <dt class = "col-sm-2">
           Gatunek
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genre.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="BookId" />
        <a asp-action="Index"><div class="btn btn-outline-primary"><i class="bi bi-arrow-left mx-1"></i><span class="mx-2"></span>Powrót</div></a>
        <button type="submit" value="Usuń" class="btn btn-danger" ><i class="bi bi-trash"></i></button>
       
    </form>
</div>
