@model IEnumerable<Database.DATA.BookScheme.Book>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center intranet-headers rounded-3 bg-light shadow-lg mb-3">Lista książek</h1>

<table class="table table-striped table-light table-hover shadow rounded">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                Rodzaj
            </th>
            <th>
                Gatunek
            </th>
            <th class="text-center">Zarzadzanie</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookType.BookTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BookId"><i class="bi bi-pencil-square"></i> Edytuj</a>
                <a asp-action="Details" asp-route-id="@item.BookId"><i class="bi bi-clipboard"></i> Podgląd</a>
                <a asp-action="Delete" asp-route-id="@item.BookId"><i class="bi bi-trash"></i> Usuń</a>
            </td>

        </tr>
}
<tr>
    <td colspan="6" class="text-center">
        <a asp-action="Create" class="btn btn-outline-primary">
            Dodaj nową książke</a>
    </td>
</tr>
    </tbody>
</table>

@*ToDo: Guzik dodawania, wywalic booksnewscard,Kolory ikon zarzadzanie. zmniejszyc szerokosc kolumn cały create*@