@model IEnumerable<Database.Data.BookScheme.BookType>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center intranet-headers rounded-3 bg-light shadow-lg mb-3">Lista rodzajów książek</h1>

<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-controller="BookType" asp-action="Create">
                <div class="modal-header bg-dark">
                    <h1 class="modal-title fs-5 text-white" id="exampleModalLabel">Utwórz nowy typ</h1>
                    <button type="button" class="btn-close-white text-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label>Nazwa dla nowego typu:</label>
                        <input type="text" class="form-control" required="required" name="BookTypeName" placeholder="np. Liryka"/>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-x-circle-fill"></i> Zamknij</button>
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-plus-circle-fill"></i>
                    </button>
                </div>
            </form>
        </div>

    </div>
</div>

@*<div class="modal fade" id="editGenreModal" tabindex="-1" aria-labelledby="editGenreModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-controller="Genre" asp-action="Edit" id="editGenreForm">
                <div class="modal-header bg-dark">
                    <h1 class="modal-title fs-5 text-white" id="editGenreModalLabel">Edytuj nazwę gatunku</h1>
                    <button type="button" class="btn-close-white text-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" id="inputGenreId"/>
                    <div class="form-group">
                        <label>Jaka nową nazwę ma mieć gatunek:</label>
                        <input name="Name" class="form-control" id="inputNameGenre"/>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-x-circle-fill"></i> Zamknij</button>
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-save"></i>
                    </button>
                </div>

            </form>
        </div>

    </div>
</div>*@

<table class="table table-striped table-light table-hover shadow rounded">
    <thead class="table-dark">
        <tr>
            <th style="width:80%" >
                @Html.DisplayNameFor(model => model.BookTypeName)
            </th>
            <th class="text-center">Zarządzanie</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookTypeName)
            </td>
            <td class="text-center">
                <a asp-action="Edit" asp-route-id="@item.BookTypeId" data-genre-id="@item.BookTypeId" data-genre-name="item.BookTypeName" class="mx-2 editGenreButton"><i class="bi bi-pencil-square"></i> Edytuj</a>
                <a asp-action="Delete" asp-route-id="@item.BookTypeId" class="mx-2"><i class="bi bi-trash"></i> Usuń</a>
            </td>
        </tr>
}
<tr>
    <td colspan="2" class="text-center">
        <a href="#" data-bs-toggle="modal" data-bs-target="#addModal" class="btn btn-outline-primary">
            Utwórz nowy typ książki</a>
    </td>
</tr>
    </tbody>
</table>
@*<a asp-controller="HomeBook" asp-action="Index" class="btn btn-outline-dark mt-5"><i class="bi bi-arrow-bar-left"> Powrót</i></a>*@

 @*ToDO: Wielkosc tabelki / polozenie zarządzania *@
<script>

    var editModal = document.getElementById("editModal");
    var inputName = document.getElementById("inputName");
    var inputId = document.getElementById("inputId");
    let editButton = document.getElementsByClassName("editButton");
    let editForm = document.getElementById("editForm");

    for (let i = 0; i < editButton.length; i++)
    {
        editButton[i].addEventListener('click',()=>
        {
            inputId.setAttribute("value",editButton[i].getAttribute("data-item-id"));
            inputName.setAttribute("value", editButton[i].getAttribute("data-item-name"));
            editForm.setAttribute("asp-route-id",editButton[i].getAttribute("data-item-id"));


        });
    }

</script>