@model IEnumerable<Database.Data.BookScheme.Author>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista autorów</h1>

<p>
    <a asp-action="Create">Dodaj autora</a>
</p>
<table class="table table-striped">
    <thead class="table-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhotoUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhotoUrl)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AuthorId"><i class="bi bi-pencil-square"></i></a> 
                <a asp-action="Details" asp-route-id="@item.AuthorId"><i class="bi bi-info-square"></i></a> 
                <a asp-action="Delete" asp-route-id="@item.AuthorId"><i class="bi bi-pencil-square"></i></a> 
            </td>
        </tr>
}
    </tbody>
</table>
