@using Database.DATA.BookScheme
@using Microsoft.EntityFrameworkCore.Infrastructure
@model Database.DATA.Library.BookPage
@{
    ViewData["Title"] = "BookPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row m-5">
        <div class="col-4 d-flex flex-column">
            <img src="@Model.BigCoverImg" class="w-75 align-self-center rounded-3" alt="okladka"/>


        </div>

        <div class="col-8 d-flex flex-column">

            <h3>
                <a class="text-decoration-none shadow-sm m-2" asp-controller="AuthorPage" asp-action="Index">@Model.Book.Author.Name @Model.Book.Author.Surname</a>
            </h3>
            <h1 style="font-size: 200px; font-family:  Roboto,serif">@Model.Book.Title</h1>
            <p class="ms-3">Rodzaj: @Model.Book.BookType.BookTypeName</p>
            <p class="ms-3">Gatunek: @Model.Book.Genre.Name</p>

            <div class="d-flex flex-row p-2">
                <a type="button" class="btn btn-outline-danger d-block" style="min-width: 77px;" onclick="showDiv()">
                    <h1>
                        <i class="bi bi-play-btn-fill"></i>
                    </h1>Audiobook
                </a>
                <div id="audioDiv" class="hidden mt-5">
                    <audio controls>
                        <source src="../@Model.AudioUrl" type="audio/mpeg">
                    </audio>
                </div>
                <a type="button" class="btn btn-outline-secondary d-block">
                    <h1>
                        <i class="bi bi-cloud-arrow-down-fill" style="min-width: 77px;"></i>
                    </h1>PDF
                </a>

            </div>

            <p class="book-description-paragraph mt-2">@Model.LongDescription </p>
        </div>

    </div>

</div>

<script>
    function showDiv() {
        var div = document.getElementById('audioDiv');
        div.classList.remove('hidden');
        div.classList.add('showAudio');
    }
</script>