@model IEnumerable<Database.DATA.CMS.BookNewsCard>

@{
    ViewData["Title"] = "Index";
}

<h3 class="text-center intranet-headers rounded-3 bg-light shadow-lg mb-3">Karty nowosci:</h3>

<table class="table table-striped table-light table-hover shadow rounded">
    <thead class="table-dark text-white">
        <tr>
            <th>
               Data dodania
            </th>
            <th>
               Tytuł książki
            </th>
            <th class="text-center">Zarządzanie</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WhenCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Title)
            </td>
            <td class="text-center">
                <a asp-action="Edit" asp-route-id="@item.BookNewsCardId"><i class="bi bi-pencil-square"></i> Edytuj</a>
                <a asp-action="Details" asp-route-id="@item.BookNewsCardId"><i class="bi bi-clipboard"></i> Podgląd</a>
                <a asp-action="Delete" asp-route-id="@item.BookNewsCardId"><i class="bi bi-trash"></i> Usuń</a>
            </td>
        </tr>
}
<tr>
    <td colspan="3" class="text-center">
        <a asp-action="Create" class="btn btn-outline-primary">
            Dodaj nową kartę</a>
    </td>
</tr>
    </tbody>
</table>
