@model IEnumerable<Database.DATA.Library.BookPage>

@{
    ViewData["Title"] = "Index";
}

<h3 class="text-center intranet-headers rounded-3 bg-light shadow-lg mb-3">Strony książek</h3>

<table class="table table-striped table-light table-hover shadow rounded">
    <thead class="table-dark text-white">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BigCoverImg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PdfUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AudioUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LongDescription)
            </th>
            <th>
                Tytuł książki
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a href="@Html.DisplayFor(modelItem => item.BigCoverImg)">Link do okładki</a>
            </td>
            <td>
                <a href="@Html.DisplayFor(modelItem => item.PdfUrl)">Link do książki</a>
            </td>
            <td>
                <a href="@Html.DisplayFor(modelItem => item.AudioUrl)">Link do AudioBooka</a>
            </td>
            <td style="overflow-x: hidden; white-space: nowrap; text-overflow: ellipsis;max-width: 300px;">
                @Html.DisplayFor(modelItem => item.LongDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Title)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BookPageId"><i class="bi bi-pencil-square"></i> Edytuj</a>
                <a asp-action="Details" asp-route-id="@item.BookPageId"><i class="bi bi-clipboard"></i> Podgląd</a>
                <a asp-action="Delete" asp-route-id="@item.BookPageId"><i class="bi bi-trash"></i> Usuń</a>
            </td>
        </tr>
}

<tr>
    <td colspan="6" class="text-center">
        <a asp-action="Create" class="btn btn-outline-primary">
            Dodaj nową kartę</a>
    </td>
</tr>
</tbody>
</table>
